/* You can add global styles to this file, and also import other style files */
body{
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  background: linear-gradient(to right, lightgreen,aquamarine);
}

.form{
  margin: auto;
}
